<div class="flex-col flex">
    <div class="flex justify-center align-middle  items-center mt-5">
        <div class="w-2/12 text-right ">
            <%= render 'profile-following-actions'%>
        </div>
        <div class="w-8/12 mx-auto">
            <div class="overflow-hidden rounded-full w-40 h-40 mx-auto">
                <%= avatar?(@user) %>
            </div>
        </div>
        <div class="w-2/12 text-center">
            <i class="fas fa-list text-4xl text-left  text-gray-500 h-12 w-12 "></i>
        </div>
    </div>
    <div class="flex flex-col">
        <div class=" text-center text-xl"> <%= @user.FullName %></div>
        <div class=" text-center text-xl text-gray-500">@<%= @user.Username %></div>
    </div>

    <%= render 'profile-stats' %>

    <div class="py-5 px-5 text-gray-600 text-xl font-thin border-b">
        Followed by
    </div>

    <div class="w-10/12 mx-auto">

        <% @followers.each do |u| %>
        <ul class="who-to-follow">
            <li class="flex align-middle my-5 overflow-hidden justify-between">
                <div class="flex">
                    <div class="h-12 w-12 bg-gray-700 rounded-full object-contain">
                        <%= avatar?(u) %>
                    </div>
                    <div class="ml-2 text-left">
                        <div><%= u.FullName %></div>
                    </div>
                </div>
                <div>
                    <% if a_follower?(u.id) %>
                    <%= button_to  following_path, 
                        params: {:following => {:FollowedId => u.id} }, 
                        method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fas fa-minus-circle text-4xl text-center  text-red-500 h-12 w-12 hover:text-blue-600 cursor-pointer"></i>
                    <% end %>
                    <% end %>

                    <% if !a_follower?(u.id) %>
                    <%= button_to  followings_path, 
                        params: {:following => {:FollowedId => u.id} }, 
                        method: :post, data: { confirm: 'Are you sure?' } do %>
                    <i class="fas fa-plus-circle text-4xl text-center  text-gray-500 h-12 w-12 hover:text-blue-600 cursor-pointer"></i>
                    <% end %>
                    <% end %>
                </div>
            </li>
        </ul>
        <% end %>

        <% if @followers_count.zero? %>
        <div class="h-56 align-middle flex flex-col justify-center ">
            <div class="text-gray-600">It is not followed by anyone</div>
        </div>
        <% end %>
        
    </div>

</div>