<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sale.user_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sale.value %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @sale.comment %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
